/*
  ******************** Undo's ********************
*/


input, button {
  display: inline-block;
  text-indent: 1vh;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: 4vh;
  font-family: kaushan;

}

input:focus, {
  outline: none;
  box-shadow: 1px 1px 14px 14px rgba(164, 233, 235, 1);
}
.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

/*
  ******************** behaviours ********************
*/

.full-height{
  min-height: 100vh;
}

.button{
  height: 100%;
  vertical-align: super;
}

.button.secondary{
}

.large-font{
  font-size: 5vh;
}

.font-size7{
  font-size: 70%;
}

.hidden{
  display: none !important;
}

/*
  ******************** forced style ********************
*/
@font-face {
  font-family: kaushan;
  src: url("../fonts/kaushan.otf") format("opentype");
}

body{
  font-size: 4vh;
  font-family: kaushan;
}

.job-card-heading{
  overflow: hidden;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}

.job-employer{
  text-align: center;
}
.job-role{
  text-align: center;
  min-width: 200px;
}
.job-card{
  background-color: rgb(219, 220, 45);
  margin: 2vh;
  padding: 5px;
  display: inline-block;
  border-radius: 1px;
  width: 450px;
}

#jobs-board{
  background-color: #00B7FF;
  padding-top: 1vh;
}

.filter-widget {
  margin: 1vh;
  display: inline-block;
  margin-bottom: 1vh;
  background-color: white;
  padding-right: 5px;
  min-width: 450px;
}

.filter-widget > input {
  min-width: 300px;
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-widget > button {
  min-width: 130px;
  float: right;
  background-color: white;
  color: red;
  padding-left: 2vh;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

