/*
  ******************** Undo's ********************
*/


input, button {
  display: inline-block;
  text-indent: 1vh;
  font-size: 8vh;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  height: 15vh;
}

input{
  border: none;
}

input:focus, {
  outline: none;
  box-shadow: 1px 1px 14px 14px rgba(164, 233, 235, 1);
}

/*
  ******************** behaviours ********************
*/

.full-height{
  min-height: 100vh;
}

.button{
  height: 100%;
  font-size: 8vh;
  vertical-align: super;
}

.button.secondary{
}

.large-font{
  font-size: 10vh;
}
/*
  ******************** forced style ********************
*/
body{
  font-size: 8vh;
}

#job-card{
  background-color: #00B7FF;
}

#jobs-board{
  background-color: #00B7FF;
  padding-top: 1vh;
}


.filter-widget {
  margin: 1vh;
  display: table;
  margin-bottom: 1vh;
  background-color: white;
  width: 100%;
}

.filter-widget > input {
  max-width: 66%;
  padding: 2%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-widget > button {
  float: right;
  background-color: white;
  color: red;
  padding-left: 2vh;


  max-width: 21%;
  padding: 2%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}