.grey-text{
  color: rgba(45, 45, 45, 0.71);
}

.silver-bg{
  background: #efefef;
}

.bottom-border{
  border-bottom: 1px solid #e6e6e6;;
}

.tile{
  display: inline-block;
}

.pull-left{
  float: left;
  height: 100%;
}

.undo-button{
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

.hidden{
  display: none;
}

.full-screen {
  min-height: 100vh; /*Each section of the size of viewport.*/
}

.saviour-blue-text{
  color: #3276b1;
}

.centered-display{
  text-align: center;
}

.undo-href{
  text-decoration: none;
}

.no-margin{
  margin: 0;
}

.blackboard {
  color: #f1f0f0;
  background-color: rgba(0, 0, 0, 0.4);
}

.img-background{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center center;
}