/* order -> undo > containers > backgrounds > buttons > elements*/

/* **************|Undos|************** */
.undo-href{
  text-decoration: none;
}

.undo-button{
  background: transparent;
  border: none;
}

.no-margin{
  margin: 0;
}
/* **************|Containers|************** */
.row{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.saviour-blue-text{
  color: #3276b1;
}
.grey-text{
  color: rgba(45, 45, 45, 0.71);
}

.full-screen {
  min-height: 100vh; /*Each section of the size of viewport.*/
}

.centered-display{
  text-align: center;
}

.bottom-separator{
  border-bottom: 1px solid #E4DF80;;
}

/* **************|Backgrounds|************** */
.blackboard {
  color: #f1f0f0;
  background-color: rgba(0, 0, 0, 0.4);
}

.img-background{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center center;
}

/* **************|Buttons|************** */
.button-primary{
  color: rgb(142, 188, 142);
  background-color: #3276b1;
}

.button{
  display: block;
  height: 2.6em;
  border-radius: 3px;
  font-size: 100%;
  min-width: 300px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
}

/* **************|Elements|************** */

.hidden{
  display: none !important;
}
