/*this css must only have style tmporarily, unless refactored
into the css lib*/

body{
  max-width: 800px;
}

#referall-center{
}

/*Coloring page for prottyping*/
#jobs-page{
  padding: 5px;
  background-color: #8ebc8e;
}

.job{
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.jobs-pic{
  max-height: 50px;
  border-radius: 3px;
}

.button{
  display: block;
  background-color: #3276b1;
  width: 100%;
  height: 2.6em;
  border-radius: 3px;
  font-size: 100%;
}
