.half-screen {
  min-height: 50vh; /*Each section of the size of viewport.*/
  min-width: 50vw;
}

.full-screen {
  min-height: 100vh; /*Each section of the size of viewport.*/
  min-width: 100vw;
}
.centered-contents{
  text-align: center;
}
.bg-black{
  background-color: rgb(0,0,0);
}
.transparent{
  background-color: transparent;

}

.fixed-in-viewport{
  position: absolute;
}